.component {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;

  @media screen and (min-width: 608px) {
    grid-template-columns: 1fr 10rem;
  }
}

.content {
  display: grid;
  gap: 0.25rem;
  order: 1;

  @media screen and (min-width: 608px) {
    order: 0;
  }
}

.meta {
  font-size: 0.875rem;
  color: var(--search-teaser-meta-color, #525c63);
}

.image {
  align-self: center;
}
