.wrapper {
  list-style: none;
  padding-left: 0;
  list-style: none;
  margin: 0;
  margin-top: 2rem;
  display: grid;
  align-content: start;

  --focus-outset: calc(
    (var(--search-hit-gap, 2rem) - var(--search-hit-rule-width, 1px)) / 2
  );
}
