.teaser {
  list-style: none;
  background-color: var(--search-hit-background-color, #ffffff);
  color: var(--search-hit-surface, #282a30);
  font-size: var(--search-hit-default-size, 1rem);
  border-top: 1px solid var(--search-hit-border-color, #dfe1e4);
  padding-top: var(--search-hit-spacing, 1rem);
  padding-bottom: var(--search-hit-spacing, 1rem);
}



.title,
.titleLink {
  font-size: var(--search-hit-title-size, 1.125rem);
  font-weight: var(--search-hit-title-weight, 400);
  margin-bottom: calc(var(--search-hit-spacing, 1rem) / 2);
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


/* CONTACT */

.teaserContact.teaserContact {
  font-style: normal;
  grid-template-columns: 1fr;
  font-size: calc(var(--search-hit-default-size, 1rem) * 0.875);
}

.teaserContact.teaserContactWImage {
  grid-template-columns: 5rem 1fr;
}

.teaserContact .image {
  align-self: auto;
}

.teaserContact .image div:first-of-type {
  border-radius: 50%;
}

.teaserContact .title {
  margin-bottom: calc(var(--search-hit-spacing, 1rem) * -0.5);
}

.teaserHeader {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-gap: 0.25rem;
  gap: 0.25rem;
}


.meta * {
  color: inherit;
}