:root {
  --search-form-background: #ffffff;
  --search-form-surface: #000000;
  --search-form-border: #dfe1e4;
  --search-form-spacing: 1rem;
  --search-form-padding-default: 1rem;
  --search-form-focus-border: 3px solid #000000;
  --search-form-submit-background-color: transparent;
  --search-form-submit-hover-background-color: #000000;
  --search-form-submit-color: #ffffff;
  --search-form-icon-color: #000000;
  --search-form-cancel-position-right: calc(var(--search-form-spacing) * 2.5);
}

.visuallyHidden {
  width: 1px;
  height: 1px;
}

.wrapper {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  background-color: var(--search-form-background);
  border-radius: 0.25rem;
  border: 1px solid var(--search-form-border);
  color: var(--search-form-surface);
  padding-top: var(--search-form-padding-default);
  padding-left: var(--search-form-padding-default);
  padding-bottom: var(--search-form-padding-default);
  padding-right: var(--search-form-padding-default);
  font-family: inherit;
  font-size: 100%;
}

.input:placeholder {
  color: inherit;
}

.input::-webkit-search-cancel-button {
  /* appearance: none;
  position: relative;
  background: url(../../static/icons/close-circle--filled.svg) no-repeat 50% 50%;
  background-size: contain;
  right: var(--search-form-cancel-position-right);
  -webkit-appearance: none;
  height: var(--search-form-spacing);
  width: var(--search-form-spacing); */
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  background: none;
  padding: calc(var(--search-form-spacing) * 0.125);
}

.submit div {
  background: var(--search-form-submit-background-color);
  color: var(--search-form-submit-color);
  border: none;
  border-radius: calc(var(--search-form-spacing) * 0.25);
  padding: var(--search-form-spacing);
  display: flex;
  align-items: center;
}

.submit:focus {
  padding: 0;
}
.submit:focus div {
  border: var(--search-form-focus-border);
  border-radius: calc(var(--search-form-spacing) * 0.25);
}

.submit:hover {
  cursor: pointer;
}

.submit:hover div {
  background: var(--search-form-submit-hover-background-color);
}

