.teaser {
  list-style: none;
  background-color: var(--search-hit-background-color, #ffffff);
  color: var(--search-hit-surface, #282a30);
  font-size: var(--search-hit-default-size, 1rem);
  border-top: 1px solid var(--search-hit-border-color, #dfe1e4);
  padding-top: var(--search-hit-spacing, 1rem);
  padding-bottom: var(--search-hit-spacing, 1rem);
}

.title,
.titleLink {
  font-size: var(--search-hit-title-size, 1.125rem);
  font-weight: var(--search-hit-title-weight, 400);
  margin-bottom: calc(var(--search-hit-spacing, 1rem) / 2);
}

.date {
  font-size: var(--search-hit-meta-size, 0.875rem);
  margin-bottom: calc(var(--search-hit-spacing, 1rem) / 2);
  color: var(--search-hit-meta-color, #969aa7);
}

.excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
