.visuallyHidden {
  width: 1px;
  height: 1px;
}

.wrapper {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  background-color: var(--search-form-background, #ffffff);
  border-radius: 0.25rem;
  border: 1px solid var(--search-form-border, #dfe1e4);
  color: var(--search-form-surface, #000000);
  padding-top: var(--search-form-padding-default, 1rem);
  padding-left: var(--search-form-padding-default, 1rem);
  padding-bottom: var(--search-form-padding-default, 1rem);
  padding-right: var(--search-form-padding-default, 1rem);
  font-family: inherit;
  font-size: 100%;
}

.input:placeholder {
  color: inherit;
}

.input::-webkit-search-cancel-button {
  appearance: none;
  position: relative;
  background: var(--search-form-cancel-background);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  right: var(--search-form-cancel-position-right, calc(var(--search-form-spacing, 1rem) * 2.5));
  -webkit-appearance: none;
  height: var(--search-form-spacing, 1rem);
  width: var(--search-form-spacing, 1rem);
}

.submit {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: none;
  background: none;
  padding: calc(var(--search-form-spacing, 1rem) * 0.125);
}

.submit div {
  background: var(--search-form-submit-background-color, transparent);
  color: var(--search-form-submit-color, #ffffff);
  border: none;
  border-radius: calc(var(--search-form-spacing, 1rem) * 0.25);
  padding: var(--search-form-spacing, 1rem);
  display: flex;
  align-items: center;
}

.submit:focus {
  padding: 0;
}
.submit:focus div {
  border: var(--search-form-focus-border, 3px solid #000000);
  border-radius: calc(var(--search-form-spacing, 1rem) * 0.25);
}

.submit:hover {
  cursor: pointer;
}

.submit:hover div {
  background: var(--search-form-submit-hover-background-color,  #000000);
}
