.childPages {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

.footer span:not(:last-child) {
  margin-bottom: 0.5rem;
}


.siblingPages {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
