.preamble {
  font-size: var(--article-preamble-font-size, 1.25rem);
  font-weight: var(--article-preamble-font-weight, inherit);
  line-height: var(--article-preamble-line-height, inherit);
  color: var(--article-preamble-color, inherit);
}

.preamble p:first-child {
  margin-top: 0;
}
