.component {
  max-width: 50rem;
}

.header {
  margin-bottom: 1rem;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.title.title {
  font-size: 1rem;
  font-weight: 700;

  @media (min-width: 48rem) {
    font-size: 1.25rem;
  }

  @media (min-width: 68rem) {
    font-size: 1.5rem;
  }
}

.preamble {
  font-size: 0.75rem;
  margin-top: 0.5rem;

  @media (min-width: 48rem) {
    font-size: 0.875rem;
    margin-top: 0;
  }

  @media (min-width: 68rem) {
    font-size: 1rem;
    margin-top: 0;
  }
}

.body {
  @media print {
    display: none;
  }
}

.item {
  display: inline-flex;
  font-size: 0.875rem;
}

.link {
  font-weight: 400;
  font-size: 0.875rem;
  padding-top: 0.25rem;
  padding-right: 0.5rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;

  --button-color: var(--box-navigation-link-color, #000c);
  --button-background: var(--box-navigation-link-background, #e0f2fe);

  --button-hover-color: var(--box-navigation-link-hover-color, #000c);
  --button-hover-background: var(
    --box-navigation-link-hover-background,
    #bae6fd
  );

  --button-current-color: var(--box-navigation-link-current-color, #fff);
  --button-current-background: var(
    --box-navigation-link-current-background,
    #0284c7
  );

  @media (min-width: 48rem) {
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-right: 0.75rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
  }
}
