.component {
  width: 100%;
  height: 100%;
  font-size: var(--logo-font-size, 1.5rem);
  font-weight: var(--logo-font-weight, bold);
}

.component svg {
  height: 100%;
}

.component img {
  height: 100%;
  display: block;
}

.link {
  display: grid;
  align-items: center;
  height: 100%;
  text-decoration: none !important;
  color: inherit !important;
}

.link[aria-current] {
  font-weight: inherit;
}
