.component {
  grid-area: main-menu;
  background-color: var(--header-main-menu-background, transparent);
  color: var(--header-main-menu-color, #000000);
  display: grid;
  justify-content: center;
  white-space: nowrap;
  min-width: 0;
}

.list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 1rem;
  justify-content: center;
}

.hidden {
  height: 0;
  overflow: hidden;
}
