:root {
  --default-site-layout-main-padding-top: 1.25rem;
  --default-site-layout-main-padding-bottom: 1.25rem;
}

@media screen and (min-width: 40rem) {
  :root {
    --default-site-layout-main-padding-top: 2rem;
    --default-site-layout-main-padding-bottom: 2rem;
  }
}

@media screen and (min-width: 60rem) {
  :root {
    --default-site-layout-main-padding-top: 3rem;
    --default-site-layout-main-padding-bottom: 3rem;
  }
}

.component {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
}

.content {
  padding-top: var(
    --site-layout-main-padding-top,
    var(--default-site-layout-main-padding-top)
  );
  padding-bottom: var(
    --site-layout-main-padding-bottom,
    var(--default-site-layout-main-padding-bottom)
  );
}

.breadcrumbs {
  border-bottom: var(--site-layout-breadcrumbs-border-bottom, 0);
}
