:root {
  --cc-background: #611f69;
  --cc-foreground: #fff;
  --cc-decline-background: #611f69;
  --cc-decline-foreground: #fff;
  --cc-approve-background: green;
  --cc-approve-foregound: #fff;
  --cc-focus: red;

  --cc-title-size: 0.875rem;
  --cc-body-size: 0.875rem;

  --cc-button-border-radius: 0.25rem;
  --cc-button-padding: 0.5rem 1rem;
  --cc-button-group-margin: 1rem 0 0 0;
}
